<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Edit Profile</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/edit_profile.css') }}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static',
filename='fontawesome/css/all.min.css') }}">

</head>

<body>

<div class="edit-wrapper">

    <!-- HEADER -->

    <div class="top-bar">

        <div>

            <h1>Edit Profile</h1>

            <p>
                Update your account information
            </p>

        </div>

        <div class="header-right">

            <button class="theme-btn"
            onclick="toggleTheme()">

                <i class="fa-solid fa-moon">🌙</i>

            </button>

            <a href="/profile"
            class="back-btn">

                <i class="fa-solid fa-arrow-left"></i>

                Back

            </a>

        </div>

    </div>

    <!-- GRID -->

    <div class="edit-grid">

        <!-- LEFT FORM -->

        <div class="form-card">

            <h2>Personal Information </h2>
            
            <form method="POST"
            action="/update-profile"
            enctype="multipart/form-data">

            <!-- GRID -->
            <div class="form-grid">

                <!-- FULL NAME -->

                <div class="input-group">

                    <label>

                        Full Name

                    </label>

                    <input type="text"
                    name="full_name"
                    value="{{ user['full_name'] }}"
                    required>

                </div>

                <!-- EMAIL -->

                <div class="input-group">

                    <label>

                        Email Address

                    </label>

                    <input type="email"
                    name="email"
                    value="{{ user['email'] }}"
                    required>

                </div>

                <!-- PHONE -->

                <div class="input-group">

                    <label>

                        Phone Number

                    </label>

                    <input type="text"
                    name="phone"
                    value="{{ user['phone'] }}">

                </div>

                <!-- DEPARTMENT -->

                <div class="input-group">

                    <label>

                        Department / Subject

                    </label>

                    <input type="text"
                    name="department"
                    value="{{ user['department'] }}">

                </div>

                <!-- EMPLOYEE -->

                <div class="input-group">

                    <label>

                        Employee ID

                    </label>

                    <input type="text"
                    name="employee_id"
                    value="{{ user['employee_id'] }}">

                </div>

                <!-- DATE -->

                <div class="input-group">

                    <label>

                        Join Date

                    </label>

                    <input type="date"
                    name="join_date"
                    value="{{ user['join_date'] }}">

                </div>

                <!-- ABOUT -->

                <div class="input-group full-width">

                    <label>

                        About Me

                    </label>

                    <textarea
                    name="bio"
                    placeholder="Write something about yourself...">{{ user['bio'] }}</textarea>

                </div>
        </div>
                <!-- IMAGE -->

                <div class="photo-section full-width">

                    <div class="current-photo">

                        {% if user['profile_image'] %}

                        <img id="previewImage"
                        src="{{ url_for('static',
                        filename='uploads/' + user['profile_image']) }}">

                        {% else %}

                        <img id="previewImage"
                        src="{{ url_for('static',
                        filename='images/user.png') }}">

                        {% endif %}

                    </div>

                    <div class="upload-area">

                        <label for="profile_image">

                            <i class="fa-solid fa-cloud-arrow-up"></i>

                            <span>

                                Upload New Photo

                            </span>

                            <small>

                                JPG, PNG (Max 2MB)

                            </small>

                        </label>

                        <input type="file"
                        id="profile_image"
                        name="profile_image"
                        accept="image/*">

                    </div>

                </div>

                <!-- BUTTONS -->

                <div class="form-buttons">

                    <a href="/profile"
                    class="cancel-btn">

                        Cancel

                    </a>

                    <button type="submit">

                        <i class="fa-regular fa-floppy-disk"></i>

                        Save Changes

                    </button>

                </div>

            </form>

        </div>

        <!-- RIGHT PREVIEW -->

        <div class="preview-card">

            {% if user['profile_image'] %}

            <img class="preview-profile"
            src="{{ url_for('static',
            filename='uploads/' + user['profile_image']) }}">

            {% else %}

            <img class="preview-profile"
            src="{{ url_for('static',
            filename='images/user.png') }}">

            {% endif %}

            <h2>

                {{ user['full_name'] }}

            </h2>

            <span>

                {{ user['role'] }}

            </span>

            <p class="bio-text">

                {{ user['bio'] }}

            </p>

            <div class="info-list">

                <div class="info-item">

                    <i class="fa-regular fa-envelope"></i>

                    <p>

                        {{ user['email'] }}

                    </p>

                </div>

                <div class="info-item">

                    <i class="fa-solid fa-phone"></i>

                    <p>

                        {{ user['phone'] }}

                    </p>

                </div>

                <div class="info-item">

                    <i class="fa-regular fa-user"></i>

                    <p>

                        {{ user['role'] }}

                    </p>

                </div>

                <div class="info-item">

                    <i class="fa-solid fa-building-columns"></i>

                    <p>

                        {{ user['department'] }}

                    </p>

                </div>

                <div class="info-item">

                    <i class="fa-regular fa-id-card"></i>

                    <p>

                        {{ user['employee_id'] }}

                    </p>

                </div>

                <div class="info-item">

                    <i class="fa-regular fa-calendar"></i>

                    <p>

                        {{ user['join_date'] }}

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static',
filename='js/edit_profile.js') }}"></script>

</body>
</html>