<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Reset Password</title>

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/otp.css') }}">

</head>

<body>

<div class="otp-container">

    <!-- LEFT SIDE -->

    <div class="otp-left">

        <img src="{{ url_for('static',
        filename='images/forget.png') }}"
        alt="Reset Password">

        <h2>Reset Password</h2>

        <p>

            Create a strong new password
            to secure your account and
            continue using the Student
            Performance System safely.

        </p>

    </div>

    <!-- RIGHT SIDE -->

    <div class="otp-right">

        <!-- LOGO -->

        <div class="otp-logo">

            <img src="{{ url_for('static',
            filename='images/logo.png') }}"
            alt="Logo">

        </div>

        <h1>Create New Password</h1>

        <p class="subtitle">

            Your new password must be
            different from previous passwords.

        </p>

        <!-- FORM -->

        <form method="POST"
            action="/update-password">

                <!-- NEW PASSWORD -->

                <div class="input-group">

                    <label>

                        New Password

                    </label>

                    <input type="password"
                    name="new_password"
                    id="new_password"
                    placeholder="Ex: Nikhil@123"
                    required

                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"

                    title="Password must contain uppercase, lowercase, number, symbol and minimum 8 characters">

                </div>

                <!-- CONFIRM PASSWORD -->

                <div class="input-group">

                    <label>

                        Confirm Password

                    </label>

                    <input type="password"
                    name="confirm_password"
                    id="confirm_password"
                    placeholder="Confirm Password"
                    required>

                </div>

                <!-- BUTTON -->

                <button type="submit"
                class="verify-btn">

                    Update Password

                </button>

            </form>

            <!-- CONFIRM PASSWORD -->

            <div class="input-group">

                <label>

                    Confirm Password

                </label>

                <input type="password"
                name="password"
                id="password"
                placeholder="Ex: Nikhil@123"
                required

                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"

                title="Password must contain uppercase, lowercase, number, symbol and minimum 8 characters">

            </div>

            <!-- BUTTON -->

            <button type="submit"
            class="verify-btn">

                Update Password

            </button>

        </form>

        <!-- BACK LOGIN -->

        <div class="back-login">

            <a href="/">

                ← Back to Login

            </a>

        </div>

    </div>

</div>


<script>

const password =
document.getElementById("password");

password.addEventListener("keyup", function(){

    const value = password.value;

    // LOWERCASE
    if(/[a-z]/.test(value)){

        lower.classList.add("valid");
        lower.innerHTML = "✅ Lowercase Letter";

    }else{

        lower.classList.remove("valid");
        lower.innerHTML = "❌ Lowercase Letter";
    }

    // UPPERCASE
    if(/[A-Z]/.test(value)){

        upper.classList.add("valid");
        upper.innerHTML = "✅ Uppercase Letter";

    }else{

        upper.classList.remove("valid");
        upper.innerHTML = "❌ Uppercase Letter";
    }

    // NUMBER
    if(/[0-9]/.test(value)){

        number.classList.add("valid");
        number.innerHTML = "✅ Number";

    }else{

        number.classList.remove("valid");
        number.innerHTML = "❌ Number";
    }

    // SYMBOL
    if(/[@$!%*?&]/.test(value)){

        symbol.classList.add("valid");
        symbol.innerHTML = "✅ Special Symbol";

    }else{

        symbol.classList.remove("valid");
        symbol.innerHTML = "❌ Special Symbol";
    }

    // LENGTH
    if(value.length >= 8){

        length.classList.add("valid");
        length.innerHTML = "✅ Minimum 8 Characters";

    }else{

        length.classList.remove("valid");
        length.innerHTML = "❌ Minimum 8 Characters";
    }

});

</script>

</body>

</html>