<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/dashboard.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com"crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<!-- MOBILE MENU -->

<button class="menu-btn"
onclick="toggleSidebar()">

☰

</button>

<!-- SIDEBAR -->

<div class="sidebar" id="sidebar">

    <div class="logo">
        <h2> Student Prediction </h2>
    </div>

    <ul>

        <li class="active">
            <a href="/dashboard">📈 Prediction</a>
        </li>

        <li>
            <a href="/analytics">📊  Dashboard</a>
        </li>

        <li>
            <a href="/feature_importance">⭐ Score Factors </a>
        </li>

        <li>
            <a href="/profile">👤 Profile</a>
        </li>

        <li>
            <a href="/help_support">❓ Help & Support</a>
        </li>

   </ul>

    <a href="/logout"
    class="logout-btn">

        Logout

    </a>

</div>

<!-- MAIN -->

<div class="main-content">

    <!-- NAVBAR -->

    <div class="topbar">

        <div>

            <h1>

                Student Prediction

            </h1>

            <p>

                Fill all important details
                for accurate prediction

            </p>

        </div>

    <div class="top-right">

        {% if role == "teacher" %}

        <div class="notification-wrapper">
            <!-- notification code -->
        </div>
        
        {% endif %}

        <!-- =====================================
        DARK MODE
        ===================================== -->

        <button class="theme-btn"
        onclick="toggleTheme()">

            🌙

        </button>

        <!-- =====================================
        PROFILE
        ===================================== -->

        <a href="/profile" class="profile-box">

            <img src="{{ url_for('static',
    filename='uploads/' + user['profile_image']) }}">

            <div>

                <h4>{{ username }}</h4>

                <span>{{ role }}</span>

            </div>

        </a>

    </div>

    </div>

    <!-- FORM -->

    <form method="POST"
    action="/predict"
    class="prediction-form">

    <div class="dashboard-grid">

        <!-- ================================================= -->
        <!-- LEFT SECTION -->
        <!-- ================================================= -->

        <div class="card">

            <h2>

                📘 Academic Performance

            </h2>

            <!-- STUDY HOURS -->

            <div class="form-group">

                <label>

                    Study Hours Per Day

                    <span class="range-limit">

                        (0 - 12 Hours)

                    </span>

                </label>

                <input type="range"
                name="study_hours"
                min="0"
                max="12"
                value="6"
                class="slider"
                oninput="studyValue.innerText=this.value + ' Hours'">

                <div class="range-value"
                id="studyValue">

                    6 Hours

                </div>

            </div>

            <!-- ATTENDANCE -->

            <div class="form-group">

                <label>

                    Attendance Percentage

                    <span class="range-limit">

                        (30% - 100%)

                    </span>

                </label>

                <input type="range"
                name="attendance"
                min="30"
                max="100"
                value="75"
                class="slider"
                oninput="attendanceValue.innerText=this.value + '%'">

                <div class="range-value"
                id="attendanceValue">

                    75%

                </div>

            </div>

            <!-- PREVIOUS MARKS -->

            <div class="form-group">

                <label>

                    Previous Exam Marks

                    <span class="range-limit">

                        (0 - 100)

                    </span>

                </label>

                <input type="range"
                name="previous_marks"
                min="0"
                max="100"
                value="60"
                class="slider"
                oninput="marksValue.innerText=this.value + '/100'">

                <div class="range-value"
                id="marksValue">

                    60 / 100

                </div>

            </div>

            <!-- SLEEP HOURS -->

            <div class="form-group">

                <label>

                    Sleep Hours

                    <span class="range-limit">

                        (4 - 12 Hours)

                    </span>

                </label>

                <input type="range"
                name="sleep_hours"
                min="4"
                max="12"
                value="7"
                class="slider"
                oninput="sleepValue.innerText=this.value + ' Hours'">

                <div class="range-value"
                id="sleepValue">

                    7 Hours

                </div>

            </div>

            <!-- SPORTS -->

            <div class="form-group">

                <label>

                    Sports / Physical Activity

                </label>

                <select name="sports_activity">

                    <option value="1">

                        Low Activity

                    </option>

                    <option value="3">

                        Moderate Activity

                    </option>

                    <option value="5">

                        High Activity

                    </option>

                </select>

            </div>

            <!-- ASSIGNMENT -->

            <div class="form-group">

                <label>

                    Assignment Completion

                </label>

                <select name="assignment_completion">

                    <option value="2">

                        Rarely Complete

                    </option>

                    <option value="5">

                        Sometimes Complete

                    </option>

                    <option value="8">

                        Mostly Complete

                    </option>

                    <option value="10">

                        Always Complete

                    </option>

                </select>

            </div>

        </div>

        <!-- ================================================= -->
        <!-- RIGHT SECTION -->
        <!-- ================================================= -->

        <div class="card">

            <h2>

                🌍 Learning Environment

            </h2>

            <!-- EXPLANATION -->

            <div class="form-group">

                <label>

                    Teacher Explanation Quality

                </label>

                <select name="explanation_quality">

                    <option value="1">

                        Poor

                    </option>

                    <option value="2">

                        Average

                    </option>

                    <option value="3">

                        Good

                    </option>

                    <option value="4">

                        Excellent

                    </option>

                </select>

            </div>

            <!-- INTERACTION -->

            <div class="form-group">

                <label>

                    Student Interaction

                </label>

                <select name="student_interaction">

                    <option value="1">

                        Low

                    </option>

                    <option value="2">

                        Medium

                    </option>

                    <option value="3">

                        High

                    </option>

                </select>

            </div>

            <!-- INTERNET -->

            <div class="form-group">

                <label>

                    Internet Access

                </label>

                <select name="internet_access">

                    <option value="1">

                        Yes

                    </option>

                    <option value="0">

                        No

                    </option>

                </select>

            </div>

            <!-- LAB FACILITY -->

            <div class="form-group">

                <label>

                    Lab Facility Quality

                </label>

                <select name="lab_facility">

                    <option value="1">

                        Poor

                    </option>

                    <option value="2">

                        Average

                    </option>

                    <option value="3">

                        Good

                    </option>

                    <option value="5">

                        Excellent

                    </option>

                </select>

            </div>

            <!-- LAB TIMING -->

            <div class="form-group">

                <label>

                    Lab Practice Frequency

                </label>

                <select name="lab_timing">

                    <option value="1">

                        Rarely

                    </option>

                    <option value="2">

                        Weekly

                    </option>

                    <option value="3">

                        Regularly

                    </option>

                    <option value="5">

                        Daily

                    </option>

                </select>

            </div>

            <!-- CLASS PARTICIPATION -->

            <div class="form-group">

                <label>

                    Class Participation

                </label>

                <select name="class_participation">

                    <option value="1">

                        Low

                    </option>

                    <option value="2">

                        Medium

                    </option>

                    <option value="3">

                        Active

                    </option>

                </select>

            </div>

            <!-- EXAM PREPARATION -->

            <div class="form-group">

                <label>

                    Exam Preparation Level

                </label>

                <select name="exam_preparation">

                    <option value="2">

                        Poor Preparation

                    </option>

                    <option value="5">

                        Average Preparation

                    </option>

                    <option value="8">

                        Good Preparation

                    </option>

                    <option value="10">

                        Excellent Preparation

                    </option>

                </select>

            </div>

        </div>

    </div>

    <!-- ================================================= -->
    <!-- BUTTONS -->
    <!-- ================================================= -->

    <div class="bottom-buttons">

        <a href="/logout"
        class="logout mobile-logout">

            Logout

        </a>

        <button type="submit"
        class="predict">

            🔮 Predict Performance

        </button>

        <button type="button"
        class="dashboard-btn"
        onclick="window.location.href='/analytics'">

            📊 Analytics Dashboard

       </button>

    </div>

</form>

</div>

<script src="{{ url_for('static',
filename='js/dashboard.js') }}"></script>


</body>
</html>